<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  
   
   <extension point="org.knime.workbench.repository.nodes">
		<node category-path="/PhenoNodes" factory-class="phenomizer.PhenomizerNodeFactory" id="phenomizer.PhenomizerNodeFactory"/>
		<node category-path="/PhenoNodes" factory-class="phenomizertonetwork.PhenomizerToNetworkNodeFactory" id="phenomizertonetwork.PhenomizerToNetworkNodeFactory"/>
   </extension>

   <extension point="org.knime.workbench.repository.categories">
      <category description="Phenomizer Nodes" icon="icon/icon_pheno.png" level-id="PhenoNodes" locked="true" name="Phenomizer nodes" path="/"/>
   </extension>
   
</plugin>
